<body class="fondo">
  <br>
  <button type="button" class="btn ms-4" data-bs-toggle="offcanvas" href="#offcanvasExample">
    Busqueda
  </button>
  <button *ngIf="authService.estoyLogged()" type="button" class="btn ms-4" data-bs-toggle="modal" data-bs-target="#exampleModal">
    Agregar Inmueble
  </button>
  <div class="container mt-5">
    <div class="card bg-transparent text-center" style="border: none;">
      <div class="card-body">
        <div class="d-flex flex-wrap justify-content-evenly">
          <div class="card w-25 border-dark text-white bg-dark cardInmueble mb-3">
            <h3 id="catalogo">CATÁLOGO</h3>
          </div>
        </div>
        <div class="d-flex flex-wrap justify-content-evenly mt-3">
          <!-- Card de Catalogo, trae todos los docuemnetos que encuentre -->
          <div class="card border-dark text-dark cardInmueble mb-3" style="max-width: 18rem;"
            *ngFor="let inmueble of allInmuebles">
            <div class="card-header text-white bg-dark" style="font-weight: bold;">{{inmueble.nombreInmueble}}</div>
            <div class="card-body">
              <h6 class="card-title">Información del inmueble</h6>
              <div class="text-start">
                <p class="card-text">{{"# de habitaciones: " + inmueble.habitaciones}}</p>
                <p class="card-text">{{"# de baños: " + inmueble.banos}}</p>
                <p class="card-text">{{"# de pisos: " + inmueble.pisos}}</p>
                <p class="card-text">{{"Sector: " + inmueble.sector}}</p>
                <p class="card-text">{{"Presupuesto Maximo: " + inmueble.precio}}</p>
                <p class="card-text">{{"Patio: " + inmueble.patio}}</p>
                <p class="card-text">{{"Cocina Integral: " + inmueble.cocinaIntegral}}</p>
              </div>
            </div>
            <button type="button" class="btn ms-4" data-bs-toggle="modal" data-bs-target="#asesorModal">
              Contactar asesor
            </button>
          </div>
          <!-- Card de Busqueda, trae solo los documentos buscados -->
          <div class="card border-dark text-dark cardInmueble mb-3" style="max-width: 18rem;"
            *ngFor="let inmueble of busquedaInmueble">
            <div class="card-header text-white bg-dark" style="font-weight: bold;">{{inmueble.nombreInmueble}}</div>
            <div class="card-body">
              <h6 class="card-title">Información del inmueble</h6>
              <div class="text-start">
                <p class="card-text">{{"# de habitaciones: " + inmueble.habitaciones}}</p>
                <p class="card-text">{{"# de baños: " + inmueble.banos}}</p>
                <p class="card-text">{{"# de pisos: " + inmueble.pisos}}</p>
                <p class="card-text">{{"Sector: " + inmueble.sector}}</p>
                <p class="card-text">{{"Presupuesto Maximo: " + inmueble.precio}}</p>
                <p class="card-text">{{"Patio: " + inmueble.patio}}</p>
                <p class="card-text">{{"Cocina Integral: " + inmueble.cocinaIntegral}}</p>
              </div>
            </div>
            <div class="card-footer text-white bg-dark ">
              <button type="button" class="btn ms-4" data-bs-toggle="modal" data-bs-target="#asesorModal">
                Contactar asesor
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>
