.fondo {
  background: url("../../../assets/img/fondoCasas.jpg");
  background-attachment: fixed;
  background-position: bottom;
  background-size: cover;
  padding: 170px; 
}

.container{
  padding-top: 8px;
}

.imgRedonda {
  background: url("../../../assets/img/profilePhoto1.png");
  width:120px;
  height:120px;
  border-radius:150px;
}

.formulario{
  background: #2980B9;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #FFFFFF, #6DD5FA, #2980B9);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #FFFFFF, #6DD5FA, #2980B9); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */;
  padding: 10px;
  border-radius: 10px;
  box-shadow: 0 0 30px rgba(0, -0, -0, -0.568);
  border: 10px;
}

.ingresar{
  background:#222A3F;
  color: #FFFFFF;
  padding: 10px;
  font-size: 16px;
  font-weight: 700 !important;
}
